@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kütüphane Materyal Takip Sistemine Hoşgeldiniz</h1>
    <p>Bu WEB sayfasının amacı kütüphane personelinin kitap, gazete, dergi ve arşivlenmiş materyallerin takibini ve düzenlenmesini sağlamaktır..</p>
    <p>WEB sayfasına personeller sisteme kayıt olarak giriş sağlayacaklardır.</p>
</div>
